.terraform*
*.terraform.*
*.terraform
terraform*
override.*
*_override.tf
!terraform.md
rke2*
*.gz
examples/*/installer.sh
examples/*/sha256sum.txt
examples/*/rke2
examples/*/tmp
examples/*/kubeconfig.yaml
examples/*/kubeconfig*.yaml
examples/*/tf-*
examples/*/config/50-*
examples/*/50-*
*.lock
*.DS_*
